*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(243, 245, 235);
}

.recipe-box{
    border:15px solid brown;
    width:500px;
    margin:100px auto;
    padding-top: 20px;
    background-color: rgb(195, 203, 46);
    

}


.recipe-box h1{
    font-family: cursive;
    font-size: 70px;
    text-align: center;
    background-color: inherit;
    

}

ul{
    display: inline-block;
    margin: 40px ;
    font-size: 30px;
    background-color: inherit;
}

.recipe-box a{
    background-color: transparent;
}