* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: beige;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
  background-color: gold;
  display: inline-block;
  width: 400px;
  margin: 0 500px;
}
a {
  display: block;
}
.img-container a {
  display: inline-block;
}
h2 {
  font-family: cursive;
}
img {
  width: 300px;
  height: auto;
  display: inline-block;
  padding: 20px;
  margin: auto;
}
.img-container,
.recipe-desc {
  display: inline-block;
}

.recipe-desc {
  padding-left: 40px;
  border: 1px solid black;
}

.item-card {
  padding: 20px;
}
